<div class="container-fluid">
  <div class=" w-100 d-flex flex-column justify-content-center align-items-center p-3">
    <h1 class="display-4 font-bold mb-2">Login</h1>
    <mat-divider style="width: 100px"></mat-divider>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <button
        color=""
        class="btn my-4 rounded-circle button-text-primary borde-primary"
        style="width: 50px; height: 50px"
        aria-label="Example icon button with a home icon"
        disabled
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        color=""
        class="btn rounded-circle button-text-primary borde-primary"
        style="width: 50px; height: 50px"
        aria-label="Example icon button with a home icon"
        disabled
      >
        <mat-icon>home</mat-icon>
      </button>
      <button
        color=""
        class="btn rounded-circle button-text-primary borde-primary"
        style="width: 50px; height: 50px"
        aria-label="Example icon button with a home icon"
        disabled
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <p>or use your email</p>
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput placeholder="Usuario" required />
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="****" required />
      <mat-error></mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <button mat-raised-button color="primary">Aceptar</button>
      <button mat-raised-button>Cancelar</button>
    </div>
  </div>
</div>
