<div class="d-flex flex-column justify-content-center align-items-center gap-2 p-4 shadow position-relative overflow-hidden text-white"
    style="background: rgba(0, 0, 0, 0.4);height: 200px;border-radius: 20px;">
    <img [src]="imagen" class="object-fit-scale position-absolute cardpyme">
    <h4 class="h4" style="z-index: 100;">MIPYME {{titulo}}</h4>
    <div class="w-25 rounded" style="height: 5px;background-color: white;z-index: 100;"></div>
    <button mat-button class="text-white">Ver más</button>
</div>