<mat-toolbar color="primary" style="height: auto;" >
    <div class="container pt-5">
        <div class="row mb-4">
            <div class="col-sm-4">
                <h3 class="h3 mb-2">Contact info</h3>
                <div class="d-flex flex-column text-white gap-2" style="font-size: 15px; white-space: normal;">
                    <small>Address: Pennigton Lonne Vermon, Rockville 1056</small>
                    <small>Phone: +53 7795 269 458</small>
                    <small>Fax: 945-637-741</small>
                    <small>Fax: 945-637-741</small>
                    <small>Email: pymes@gmail.com</small>
                    <div class="d-flex gap-3">
                        <mat-icon>person</mat-icon>
                        <mat-icon>person</mat-icon>
                        <mat-icon>person</mat-icon>
                        <mat-icon>person</mat-icon>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <h3 class="h3">Information</h3>
                <div class="d-flex flex-column text-white gap-2" style="font-size: 15px;">
                    <small>About us</small>
                    <small>Delivery information</small>
                    <small>Privacy policy</small>
                    <small>Term & Condition</small>
                    <small>Contact us</small>
                </div>
            </div>
            <div class="col-sm-2">
                <h3 class="h3">My Account</h3>
                <div class="d-flex flex-column text-white gap-2" style="font-size: 15px;">
                    <small>My Account</small>
                    <small>Order Histoy</small>
                    <small>White List</small>
                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="h3">News letter</h3>
                <p class="text-white" style="font-size: 15px; white-space: normal;">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt, incidunt exercitationem alias dolorem fugiat nulla maiores vero minima doloribus asperiores, soluta similique quam est possimus dicta necessitatibus omnis a. Nihil?
                </p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between text-white" style="font-size:15px">
            <small>powered by Angular</small>
            <small>2023-2024</small>
            <div class="d-flex justify-content-center gap-2 align-items-center">
                <img src="assets/visa.png" width="45" height="25" alt="">
                <img src="assets/mastercard.jpg"  width="45" height="25" alt="">
            </div>
        </div>
    </div>
</mat-toolbar>