<ngb-carousel class="w-100 position-relative">
  <ng-template ngbSlide>
    <div class="w-100">
      <img
        src="assets/pyme1.jpg"
        class="w-100 object-fit"
        height="400"
        alt="Angular Carousel 1"
      />
    </div>
    <div
      class="position-absolute top-0 left-0 w-100 h-100 text-white d-flex justify-content-evenly align-items-center px-5"
    >
      <div class="d-flex flex-column gap-2 justify-content-start">
        <h3 class="display-5">Métodos de entrega</h3>
        <p class="h3">Disponemos de entrega a domicilio.</p>
      </div>
      <!-- <mat-icon color="primary"> local_shipping </mat-icon> -->
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="w-100">
      <img
        src="assets/pyme2.jpg"
        class="w-100 object-fit"
        height="400"
        alt="Angular Carousel 1"
      />
    </div>
    <div
      class="position-absolute top-0 left-0 w-100 h-100 text-white d-flex justify-content-evenly align-items-center px-5"
    >
      <div class="d-flex flex-column gap-2 justify-content-start">
        <h3 class="display-5">Métodos de pago</h3>
        <p class="h3">
          Usted puede pagar con visa, mastercard, zelle y mucho más.
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="w-100">
      <img
        src="assets/pyme1.jpg"
        class="w-100 object-fit"
        height="400"
        alt="Angular Carousel 1"
      />
    </div>
    <div
      class="position-absolute top-0 left-0 w-100 h-100 text-white d-flex justify-content-evenly align-items-center px-5"
    >
      <div class="d-flex flex-column gap-2 justify-content-start">
        <h3 class="display-5">Ofertas especiales</h3>
        <p class="h3">
          Todos los meses ofrecemos ofertas y descuentos que usted puede
          disfrutar.
        </p>
      </div>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="w-100">
      <img
        src="assets/pyme1.jpg"
        class="w-100 object-fit"
        height="400"
        alt="Angular Carousel 1"
      />
    </div>
    <div
      class="position-absolute top-0 left-0 w-100 h-100 text-white d-flex justify-content-evenly align-items-center px-5"
    >
      <div class="d-flex flex-column gap-2 justify-content-start">
        <h3 class="display-5">Asistente en línea</h3>
        <p class="h3">
          Toda la ayuda que pueda necesitar a través de nuestros asistentes.
        </p>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
