/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

::ng-deep mat-form-field {
  border-radius: 50px;
}

::ng-deep mat-dialog-container {
  border-radius: 50px;
  background-color: white;
}
